<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ item?.name | uppercase}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-item class="product-img">
        <ion-spinner *ngIf="primaryImage === undefined"></ion-spinner>
        <img *ngIf="primaryImage !== undefined" [src]="primaryImage"/>
    </ion-item>
    <ion-card>
        <ion-card-header color="blendtec">
            {{ item?.name | uppercase}}
        </ion-card-header>
        <ion-card-content>
            <p>{{item?.caption}}</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>{{item?.price | currency:'USD':true:'1.2-2'}}</ion-card-header>
        <ion-card-content>
            <bt-button (click)="buyNow(item.slug)">Buy Now</bt-button>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header color="blendtec">Features</ion-card-header>
        <ion-card-content><span [innerHTML]="features"></span></ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header color="blendtec">Package Includes</ion-card-header>
        <ion-card-content><span [innerHTML]="packageIncludes"></span></ion-card-content>
    </ion-card>
</ion-content>
