<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'TITLE.FAQ_DETAIL' | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header class="faq-header" color="blendtec">{{(item | async)?.question | uppercase}}</ion-card-header>
        <ion-card-content>
            <span [innerHTML]="(item | async)?.answer | dbMarkup"></span>
        </ion-card-content>
        <ion-card-content>
            <faq-category-badges [faq]="(item | async)"></faq-category-badges>
        </ion-card-content>
    </ion-card>
</ion-content>
