<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ item?.title | uppercase}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="item-profile" text-center #profilePic
         [style.background-image]="'url(' + item?.indexImageUrl + ')'"></div>
    <ion-item *ngFor="let img of item?.imageUrls">
        <img [src]="img">
    </ion-item>
    <ion-card>
        <ion-card-content>
            <p>{{item?.description}}</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header color="blendtec">{{ 'HEADER.INGREDIENTS' | translate | uppercase }}</ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let ingredient of item?.ingredients">
                    <p>{{ingredient?.amount}} {{ingredient?.measurement}} {{ingredient?.name}} </p>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header color="blendtec">{{ 'HEADER.INSTRUCTIONS' | translate | uppercase }}</ion-card-header>
        <ion-card-content><span [innerHTML]="item?.instructions | dbMarkup"></span></ion-card-content>
    </ion-card>
    <ion-card *ngIf="item?.variations">
        <ion-card-header color="blendtec">{{ 'HEADER.VARIATIONS' | translate | uppercase}}</ion-card-header>
        <ion-card-content><span [innerHTML]="item?.variations | dbMarkup"></span></ion-card-content>
    </ion-card>
    <ion-card *ngIf="!item?.hideNutrition">
        <ion-card-header color="blendtec">{{ 'HEADER.NUTRITION' | translate | uppercase }}</ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col width-50>
                    <ion-list>
                        <ion-item>
                            <p>{{'LABEL.SERVINGS' | translate}} {{item?.servings | nutrient}}</p>
                        </ion-item>
                        <ion-item>
                            <p>{{'LABEL.SERVINGSIZE' | translate}} {{item?.servingSize | nutrient}}</p>
                        </ion-item>
                        <ion-item>
                            <p>{{'LABEL.CALORIES' | translate}} {{item?.calories | nutrient}}</p>
                        </ion-item>
                        <ion-item>
                            <p>{{'LABEL.FAT' | translate}} {{item?.fat | nutrient}}</p>
                        </ion-item>
                        <ion-item>
                            <p>{{'LABEL.SATFAT' | translate}} {{item?.satFat | nutrient}}</p>
                        </ion-item>
                        <ion-item>
                            <p>{{'LABEL.CHOLESTEROL' | translate}} {{item?.cholesterol | nutrient}}</p>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col width-50>
                    <ion-list>
                        <ion-item>
                            <p>{{'LABEL.SODIUM' | translate}} {{item?.sodium | nutrient}}</p>
                        </ion-item>
                        <ion-item>
                            <p>{{'LABEL.CARBS' | translate}} {{item?.carbohydrates | nutrient}}</p>
                        </ion-item>
                        <ion-item>
                            <p>{{'LABEL.FIBER' | translate}} {{item?.fiber | nutrient}}</p>
                        </ion-item>
                        <ion-item>
                            <p>{{'LABEL.SUGAR' | translate}} {{item?.sugar | nutrient}}</p>
                        </ion-item>
                        <ion-item>
                            <p>{{'LABEL.PROTEIN' | translate}} {{item?.protein | nutrient}}</p>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header color="blendtec">{{'HEADER.RELATED_RECIPES' | translate | uppercase}}</ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let related of item?.relatedRecipes" (click)="select(related)">
                    <ion-avatar item-left>
                        <img [src]="related.sideBarImageUrl">
                    </ion-avatar>
                    <h2>{{related?.title}}</h2>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-row>
            <ion-col col-4 *ngIf="item?.youtubeCode">
                <recipe-youtube [youtubeId]="item?.youtubeCode"></recipe-youtube>
            </ion-col>
            <ion-col col-4>
                <recipe-favorite [slug]="item?.slug"></recipe-favorite>
            </ion-col>
            <share [recipe]="item"></share>
        </ion-row>
</ion-footer>
