bt-button {
  .bt-button {
    border-radius: 8px;
    height: 4.5rem;
  }

  .bt-button-text {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #ED1B2C;
    color: #fff;
    float: left;
    display: block;
    position: absolute;
    height: 100%;
    width: 90%;
    left: 0px;
    padding-top: .6em;
    font-size: 2rem;
  }

  .bt-button-icon {
    position: absolute;
    right: .7em;
    color: #60646B;

    ion-icon {
      font-size: 3rem;
      font-weight: 600;
    }
  }
}