<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="query" (ionInput)="getItems()" (ionCancel)="clearSearch()"></ion-searchbar>
    <ion-list>
        <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
            <ion-avatar item-left>
                <img [src]="item.indexImageUrl"/>
            </ion-avatar>
	        <ion-row>
		        <ion-col>
			        <h2>{{item.title}}</h2>
		        </ion-col>
		        <ion-col>
			        <recipe-rating rating="{{item.rating}}"></recipe-rating>
		        </ion-col>
	        </ion-row>
            <p>{{item.description}}</p>
        </button>
    </ion-list>
</ion-content>
