<ion-header>
    <ion-navbar>
        <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="query" (ionInput)="getItems()" (ionCancel)="clearSearch()"></ion-searchbar>
    <ion-list>
        <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
            <ion-avatar item-left>
                <img [src]="item.indexImageUrl"/>
            </ion-avatar>
            <h2>{{item.title}}</h2>
            <p>{{item.description}}</p>
            <ion-note item-right *ngIf="item.note">{{item.note}}</ion-note>
        </button>
    </ion-list>
</ion-content>
