<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title *ngIf="category">{{ category.name }}</ion-title>
		<ion-title *ngIf="!category">{{'TITLE.RECIPE_LIST' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="page-list-recipe">
	<ion-list>
		<ion-card *ngFor="let item of items" (click)="select(item)">
			<ion-card-header>
				<h2>{{item.title}}</h2>
			</ion-card-header>
			<img [src]="item.sideBarImageUrl"/>
			<ion-card-content>
				<p>{{item.description}}</p>
			</ion-card-content>
			<ion-row>
				<ion-col>
					<recipe-rating rating="{{item.rating}}"></recipe-rating>
				</ion-col>
				<ion-col>
					<button ion-button icon-left clear small color="blendtec">
						<ion-icon name="stats"></ion-icon>
						<div>{{item.calories}} {{'LABEL.CALORIES_ABV' | translate}}</div>
					</button>
				</ion-col>
				<ion-col center text-center>
					<button ion-button icon-left clear small color="blendtec">
						<ion-icon name="time"></ion-icon>
						<div>{{item.cookTimeSeconds | cooktime}}</div>
					</button>
				</ion-col>
			</ion-row>
		</ion-card>
	</ion-list>
	<ion-infinite-scroll (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content>Loading More Recipes...</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
